@page "/Access_log"
@using MongoDB_Web.Data.Helpers
@using MongoDB_Web.Objects;
@inject LogManager logManager;

<h1>Activity Protocol</h1>
<br />

<div class="row">
    <button @onclick="() => changeLogType(LogType.All)" class="infoBox col-2 page ">All @countOfAll</button>
    <button @onclick="() => changeLogType(LogType.Error)" class="infoBox col-2 page">Error @countOfError</button>
    <button @onclick="() => changeLogType(LogType.Warning)" class="infoBox col-2 page">Warning @countOfWarning</button>
    <button @onclick="() => changeLogType(LogType.Info)" class="infoBox col-2 page">Information @countOfInfo</button>
    <select @onchange="changeDate" class="col-3 page infoBox">
        @{
            if(availableLogDates != null)
                foreach (DateTime date in availableLogDates)
            {
                bool newlog = date.Date.Year == DateTime.Now.Year && date.Date.Month == DateTime.Now.Month;
                <option value="@date" selected="@newlog.ToString()" class="page">@date.Year/@date.Month</option>
            }
    }
</select>
<br />
    <br />
    <input type="text" @bind="searchTerm" placeholder="Search in messages" class="col-2 page mt-1" />
    <button @onclick="refresh" class="col-1 page page mt-1">Search</button>
<br />
    <table class="table page sortable">
        <thead>
            <tr>
                <th scope="col" @onclick=@(() => SortTable("Date"))>Date</th>
                <th scope="col" @onclick=@(() => SortTable("Type"))>Type</th>
                <th scope="col" @onclick=@(() => SortTable("Message"))>Message</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var log in logsToDisplay)
            {
                <tr>
                    <td>@log.Created</td>
                    <td>@log.Type</td>
                    <td>@log.Message</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code{
    int countOfInfo;
    int countOfWarning;
    int countOfError;
    int countOfAll;

    DateTime currentDate { get; set; }
    string searchTerm = "";

    List<DateTime>? availableLogDates { get; set; }
    List<LogObject> logsToDisplay { get; set; }
    LogType currentType { get; set; } = LogType.All;

    string currentSortField = "Date";
    bool sortAscending = true;

    void SortTable(string field)
    {
        if (currentSortField == field)
        {
            sortAscending = !sortAscending;
        }
        else
        {
            currentSortField = field;
            sortAscending = true;
        }
        refresh();
    }


    public enum LogType
    {
        All,
        Info,
        Warning,
        Error
    }

    void changeLogType(LogType SelectedType)
    {
        currentType = SelectedType;
        refresh();
    }

    void changeDate(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            string dateString = e.Value?.ToString() ?? string.Empty;
            if (!string.IsNullOrEmpty(dateString))
            {
                currentDate = DateTime.Parse(dateString);
                refresh();
            }
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        availableLogDates = logManager.GetAvailableLogDates();
        if (currentDate == DateTime.MinValue)
        {
            currentDate = DateTime.Now;
        }
        refresh();
    }

    void refresh()
    {
        (countOfInfo, countOfWarning, countOfError) = logManager.CountLog(currentDate);
        countOfAll = countOfError + countOfInfo + countOfWarning;

        logsToDisplay = getLogObject();
        StateHasChanged();
    }

    List<LogObject> getLogObject()
    {
        var logs = logManager.ReadLogFiles(currentType.ToString(), currentDate)
                  .Where(log => log.Message.Contains(searchTerm, StringComparison.OrdinalIgnoreCase))
                  .ToList();

        if (currentSortField == "Date")
        {
            logs = sortAscending ? logs.OrderBy(log => log.Created).ToList() : logs.OrderByDescending(log => log.Created).ToList();
        }
        else if (currentSortField == "Type")
        {
            logs = sortAscending ? logs.OrderBy(log => log.Type.ToString()).ToList() : logs.OrderByDescending(log => log.Type).ToList();
        }
        else if (currentSortField == "Message")
        {
            logs = sortAscending ? logs.OrderBy(log => log.Message).ToList() : logs.OrderByDescending(log => log.Message).ToList();
        }
        return logs;
    }

}
