@using MongoDB_Web.Pages.Component.Util
@code {
    DeleteCollectionModal? deleteCollectionModal { get; set; }
    DownloadModal? downloadModal { get; set; }
    MoveDataModal? moveModal { get; set; }
}
<DeleteCollectionModal @ref="deleteCollectionModal" dbName="@dbName" collectionName="@name" />
<MongoDB_Web.Pages.Component.Util.DownloadModal @ref="downloadModal" dbName="@dbName" collectionName="@name" type="collection" />
<MongoDB_Web.Pages.Component.Util.MoveDataModal @ref="moveModal" dbName="@dbName" collectionName="@name" type="collection" />
<div class="col-lg-4 col-xl-3 col-md-5 mb-8 col-sm-12 py-3">
    <div class="shadow card h-100 rounded cardbox">
        <div class="card-header py-1">
            <div class="card-title">
                <h4 class="title-card">@name</h4>
            </div>
            <button type="button" @onclick="() => deleteCollectionModal?.OpenAsync()" class=" btn-close deleteicon blacktowhitetheme" aria-label="Close"></button>
        </div>
        <div class="card-body">
            <p class="card-text">
            readOnly: @readOnly
            </p>
        </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Option
                </button>
                <ul class="dropdown-menu element-background">
                    <li><a class="dropdown-item element-background" href="#">Details</a></li>
                    <li><a class="dropdown-item element-background" href="" @onclick="() => moveModal?.Open()" @onclick:preventDefault>Move Collection</a></li>
                    <li><a class="dropdown-item element-background" href="" @onclick="() => downloadModal?.Open()" @onclick:preventDefault>Download Collection</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="" @onclick="() => deleteCollectionModal?.OpenAsync()" @onclick:preventDefault>Delete Collection</a></li>
                </ul>
            </div>
            <a href="/CollectionViewer/@dbName/@name" class="btn btn-primary">Open</a>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public MongoDB.Bson.BsonDocument CollectionObject { get; set; } = default!;
    [Parameter]
    public string dbName { get; set; } = "";

    string? name { get; set; } = "";
    bool? readOnly { get; set; } = null;
    Guid uuid;

    protected override Task OnParametersSetAsync()
    {
        loadCardData();
        return base.OnParametersSetAsync();
    }
    
    //Loads information from the BsonDocument into the variables
    void loadCardData()
    {
        CollectionObject = CollectionObject ?? new MongoDB.Bson.BsonDocument();
        //Get the name of the collection
        if (!string.IsNullOrEmpty(CollectionObject.GetValue("name").ToString()))
            name = CollectionObject.GetValue("name").AsString; 
            
       //read variable uuid from parent property info
        if (!string.IsNullOrEmpty(CollectionObject.GetValue("info").AsBsonDocument.GetValue("uuid").ToString()))
            uuid = CollectionObject.GetValue("info").AsBsonDocument.GetValue("uuid").AsGuid;
       
        //read variable readOnly from parent property info
        if (!string.IsNullOrEmpty(CollectionObject.GetValue("info").AsBsonDocument.GetValue("readOnly").ToString()))
            readOnly = CollectionObject.GetValue("info").AsBsonDocument.GetValue("readOnly").AsBoolean;
    }
}